/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'BIZ UDPGothic', 'Noto Sans JP', 'Hiragino Sans', sans-serif;
$font-family-monospace: 'UDEV Gothic JPDOC', 'BIZ UDGothic', 'Noto Sans Mono', monospace;
$code-block-font-size: 0.7em;

/*-- scss:rules --*/
.cell-output, .cell-output-stdout { 
  font-size: 95%;
  border: 1px solid #4a90e2;
  border-radius: 4px;
  padding: 3px;
  background-color: #e8f0fe;
  margin: 10px 0;
}